{% extends "layout.html.twig" %}

{% block content %}
    <div class="content-cont">
        <div class="me-heading bg-white border-bottom">
            <div class="row">
                <div class="me-hl col-xs-12 col-md-9">
                    <h1 class="content-heading">{{ 'tr_meliscodeexamplesilex_tool_title'|trans }}</h1>
                    <p>{{ 'tr_meliscodeexamplesilex_tool_desc'|trans }}</p>
                </div>
                <div class="me-hr col-xs-12 col-sm-4 col-md-3">
                    {#<button data-toggle="modal" id="meliscodeexamplesilex_tool_new_album" class="btn btn-success">#}
                        {#<i class="fa fa-plus"></i> {{ 'tr_meliscodeexamplesilex_tool_new_album'|trans }}#}
                    {#</button>#}
                </div>
            </div>
        </div>
        <div class="tab-content innerAll spacing-x2">
            <div class="bottom">
                <p>{{ 'tr_meliscodeexamplesilex_tool_db_connection_desc'|trans }}</p>
                <table class="table table-striped table-primary dt-responsive nowrap no-footer dtr-inline"
                       cellspacing="0" width="100%" role="grid" style="width: 100%;">
                    <thead>
                    <tr role="row">
                        <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_album_id'|trans }}</th>
                        <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_album_title'|trans }}</th>
                        <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_album_songs'|trans }}</th>
                        <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_album_date'|trans }}</th>
                        {#<th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_action'|trans }}</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for alb in albums %}
                        <tr id="album_{{ alb.alb_id }}" role="row" class="odd">
                            <td style="">{{ alb.alb_id }}</td>
                            <td style="">{{ alb.alb_name }}</td>
                            <td style="">{{ alb.alb_song_num }}</td>
                            <td style="">{{ alb.alb_date }}</td>
                            {#<td style="">#}
                                {#<button class="btn btn-success btn_meliscodeexamplesilex_edit" data-albumid="{{ alb.alb_id }}" title="Edit"><i class="fa fa-pencil"></i></button>#}
                                {#<button class="btn btn-success btn_meliscodeexamplesilex_delete" data-albumid="{{ alb.alb_id }}" title="Delete"><i class="fa fa-times"></i></button>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <p>{{ 'tr_meliscodeexamplesilex_tool_melis_services_desc'|trans }}</p>
                <pre>
$app->register(new MelisServiceProvider());
$langSvc = $app['melis.services']->getService("MelisEngineLang");
$langs = $langSvc->getAvailableLanguages();
                </pre>
                <table class="table table-striped table-primary dt-responsive nowrap no-footer dtr-inline"
                       cellspacing="0" width="100%" role="grid" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_lang_id'|trans }}</th>
                            <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_lang_locale'|trans }}</th>
                            <th class="sorting" style="width: 98px;">{{ 'tr_meliscodeexamplesilex_lang_name'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lang in langs %}
                        <tr id="18" role="row" class="odd">
                            <td style="">{{ lang.lang_cms_id }}</td>
                            <td style="">{{ lang.lang_cms_locale }}</td>
                            <td style="">{{ lang.lang_cms_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


